# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/
/build
/dist

# Production & TypeScript
*.tsbuildinfo
next-env.d.ts

# Operating System & Misc
.DS_Store
*.pem
Thumbs.db

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Environment Variables (NEVER commit secrets)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel
